* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f5f8;
    font-family: "Roboto", sans-serif;
}

.logo {
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    color: whitesmoke;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    background-color: darkslategrey;
    padding: 8px;
    outline: none;
    cursor: pointer;
}

.container {
    text-align: center;
}

.container h2 {
    background-color: #222;
    padding: 20px;
    margin-bottom: 24px;
    color:#f1f5f8;
    font-size: 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.color {
    color:#49abe9;
}

.btn {
    background-color: transparent;
    padding: 8px;
    border: 2px solid #222;
    font-size: 16px;
    letter-spacing: 1.5px;
    columns: #222;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn:hover {
    background-color: #222;
    color: #fff;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
}